.form-control-input 
{
    background-color: transparent;
    color: aliceblue;
    border: 1.5px solid aliceblue;
    border-radius: 22px;
}
label 
{
    color: #f0f8ff81 !important;
}
.btn 
{
    color: #000 !important;
    font-weight: 500;
    font-size: large;
    padding: 7px 30px;
    background-color: aqua;
    border-radius: 30px;
}